h1{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;    

}

header, body, section,aside,footer,hgroup{

    display: block;
    border: 1px solid black;
    display:block;
    
}