
*{
    margin: 0%;
    padding: 0%;
}

h1{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;  
}

header, body, section,aside,footer,hgroup{

    display: block;
    border: 1px solid black;
    display:block;    
}

body{
    text-align: center;

}

.agrupar{
    width: 960px;
    border:1px solid black;
    margin: 15px auto;

}

header{
    background: #FFFBB9
}

.menu{
    background: #ccc;
    padding: 5px 15px;
    text-align: left;

}

.menu li{
    list-style: none;
    /*border: 1px solid black;*/
    display:inline-block;
    padding: 5px;
    font: bold 14px verdana;
}

.cabecera h1{
    text-align: left
}

.seccion{
    margin: 20px;
    width: 600px;
    
}